#header{
    margin: 0;
    padding:0;
    height: 62vh;
    background-image: url('../../image/hogwart.jpeg');
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center
}
body{
    background-image: none;
    background-color: #d9d9d9;
}
.welcome{
    top: 30%;
    left: 35%
}
.other{
    padding-top: 10vh;
    width: 100%;
    margin-bottom: 200px;
}

img{
    width: 100vw;
}

.title{
    position: absolute;
    top: 25%;
}
.title h1{
    font-family: 'Inter';
    font-size: 5vh;
    color: white;
    filter: drop-shadow(2px 2px black);
}

.title i{
    color: white;
}

@media only screen and (min-width: 1000px) {
    .title{
        left: 10%;
    }
    .other{
        margin-left: 20vw;
        margin-right: 20vw;
        margin-bottom: 400px;
        width: 60vw;
    }
    img{
        margin-left: 5vw;
        width: 50vw;
    }
}