body, html {
    margin: 0;
    padding: 0;
}

body{
    background-color: #D9D9D9;
    z-index: -1;
    height: 100%;
    overflow-x: hidden;
}
#header{
    margin: 0;
    padding:0;
    height: 100vh;
    background-image: url('./image/gettysburg.jpeg');
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center
}
.taskbar{
    display: none;
}
#option-button{
    margin-right: 2vw;
    z-index: 1;
    width: 7vw;
    position: relative;
    float: right;
    margin-top: 3.5vh;
}
.icon{
    margin-left: 1vh;
    margin-right: 1vh;
    width: 4vh;
    height: 4vh;
}
.welcome{
    position: absolute;
    top :45%;
    left: 13%;
    margin:0;
    font-size: 4.7vw;
    text-align: center;
    vertical-align: middle;
    color: white;
    filter: drop-shadow(10px 10px 4px black);
    font-family: 'Inter';
}
.phone-taskbar h1{
    margin: 0;
    width: 30vw;
    padding-top: 4vh;
    font-family: 'Inria Serif';
    color: whitesmoke;
    font-size : 2.5vh;
    text-align: center;
    display: block;
    float: left;
}

#buttons{
    z-index: 1;
    background-color: grey;
    display: none;
    position: absolute;
    width: 20%;
    top: 5%; right: 10%;
}
.introText {
    padding: 2vw 2vw;

}
.minh{ 

    border-radius: 50%;
    align-items: center;
    width: 80%;
    margin-top: 10vh;
}

.contact{
    background-color: #1E1E1E;
    text-align: center;
    font-size: 5vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-top: 20vh;
}

.contact p {
    color: white;
}

.taskbar{
    display: none;
}
.email{
    display: block;
    align-items: center;
}
.icon{
    margin-left: 1vh;
    margin-right: 1vh;
    width: 4vh;
    height: 4vh;
}
.other{
    padding-top: 20%;
    position: relative;
}
.images{
    padding-left: 15%;
}
#more{
    display: block;
}
#less{
    display: none;
}
#moreInfo{
    display: none;
}
@media only screen and (min-width: 1000px) {

    .taskbar{
        display: block;
    }
    .taskbar a:hover{
        color: black;
    }
    .phone-taskbar{
        display: none;
    }
    #header{
        margin: 0;
        padding:0;
        height: 100vh;
        background-image: url('./image/gettysburg.jpeg');
        background-size:     cover;                      /* <------ */
        background-repeat:   no-repeat;
        background-position: center center

    }

    .taskbar a{
        z-index: 1;
        float: right;   
        -webkit-appearance: button;
        -moz-appearance: button;
        appearance: button;

        margin-top: 2vh;
        padding-left: 1vw;
        padding-right: 1vw;
        border-right: solid;
        border-color: black;

        text-decoration: none;
        color: white;
        font-size: 2.5vh;
    }

    #blogName{
        margin: 0;
        width: 20vw;
        padding-top: 2vh;
        font-family: 'Inria Serif';
        color: whitesmoke;
        font-size : 4vh;
        text-align: center;
        display: block;
        float: left;
        filter: drop-shadow(10px 10px 4px black);
    }
    .welcome{
        position: absolute;
        top :45%;
        left: 13%;
        margin:0;
        font-size: 4.7vw;
        text-align: center;
        vertical-align: middle;
        color: white;
        filter: drop-shadow(10px 10px 4px black);
        font-family: 'Inter';
    }
    .minh{
        margin: 0;
        display: block;
        float: right;
        width: 70%;
    }
    .introText{
        padding-top: 2vh;
        padding-right: 5%;
        width: 50%;
        float: right;
    }
    .introText h1{
        text-align: left;
    }
    .introText p{
        font-family: 'Inter';
        font-size: 3vh;
    }
    .images{
        padding: 0;
        float: left;
        width: 40%;
    }
    .info{
        height: 50vh;
    }
    .contact{
        padding-top: 1vh;
        padding-bottom: 1vh;
        margin-top: 20vh;
    }

    .contact p{
        margin-top: 1vh;
        margin-bottom: 1vh;
        font-size: 3vh;
    }
    .contact a{
        font-size: 3vh;
    }
}